<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Form Component Examples</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <header>
            <h1>Checkbox Component</h1>
        </header>
        <main>


            <!-- Checkboxes -->

            <label class="checkbox">One
                <input type="checkbox" name="check1" checked="checked"/>
                <span class="checkbox-display"></span>
            </label>
            <label class="checkbox">Two
                <input type="checkbox" name="check1"/>
                <span class="checkbox-display"></span>
            </label>

            <!-- Checkboxes END -->


        </main>
        <script src="index.js"></script>
    </body>
</html>