<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>Form Component Examples</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="king.checkbox.css">
    </head>
    <body>
        <header class="container">
            <h2>Checkbox Component</h2>
        </header>
        <hr>
        <main class="container">

            <!-- Checkboxes -->

            <label class="checkbox">Unchecked
                <input type="checkbox">
                <div class="checkbox-display"></div>
            </label>
            <label class="checkbox">Checked
                <input type="checkbox" checked="checked">
                <span class="checkbox-display"></span>
            </label>

            <br><br>

            <label class="checkbox">Disabled
                <input type="checkbox" disabled="disabled">
                <span class="checkbox-display"></span>
            </label>
            <label class="checkbox">Disabled & Checked
                <input type="checkbox" disabled="disabled" checked="checked">
                <span class="checkbox-display"></span>
            </label>

            <!-- Checkboxes END -->

        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </body>
</html>