
.checkbox { display: inline-block; cursor: pointer; }
.checkbox input { position: absolute; z-index: -1; opacity: 0; }

/* Checkbox Display */
.checkbox .checkbox-display { display: block; position: relative; float: left; margin-right: 6px;}
.checkbox .checkbox-display:after { content: ''; position: absolute; display: none; border-style: solid; transform: rotate(45deg); }
.checkbox input:checked ~ .checkbox-display:after { display: block; }
.checkbox input:disabled ~ .checkbox-display { opacity: 0.6; pointer-events: none; }


/* Size Styles
----------------------------- */

/* Label */
.checkbox { font-size: 18px; line-height:20px }

/* Display */
.checkbox .checkbox-display { height: 20px; width: 20px; }

/* Check Mark */
.checkbox .checkbox-display:after { left: 8px; top: 4px; width: 3px; height: 8px; border-width: 0 2px 2px 0; }


/* Color Styles
----------------------------- */

/* Unchecked Normal */
.checkbox-display { background: #ccc; }
.checkbox-display:after { border-color: #fff;  }

/* Unchecked Hover */
.checkbox:hover input ~ .checkbox-display { background: #ccc; }

/* Checked Normal */
.checkbox input:checked ~ .checkbox-display { background: #0a0; }

/* Checked Hover */
.checkbox:hover input:not([disabled]):checked ~ .checkbox-display { background: #0a0; }

/* Disabled */
.checkbox input:disabled ~ .checkbox-display { background: #ddd; }
.checkbox input:disabled ~ .checkbox-display:after { border-color: #999; }