<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Form Component Examples</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="king.radio.css">
    </head>
    <body>
        <header>
            <h2>Radio Component</h2>
        </header>
        <hr><br>
        <main>

            <!-- radios -->

            <label class="radio">Unchecked
                <input type="radio" name="one">
                <div class="radio-display"></div>
            </label>
            <label class="radio">Checked
                <input type="radio" name="one" checked="checked">
                <span class="radio-display"></span>
            </label>

            <br><br>

            <label class="radio">Disabled
                <input type="radio" name="two" disabled="disabled">
                <span class="radio-display"></span>
            </label>
            <label class="radio">Disabled & Checked
                <input type="radio" name="two" disabled="disabled" checked="checked">
                <span class="radio-display"></span>
            </label>

            <!-- radios END -->

        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </body>
</html>